<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Effect Type 1 -- Parametric Equalizer -->
    <!-- values: (frequency, gain) -->
	<!-- freq: 0 = 32, .11 = 64, .22 = 128, .33 = 256, .44 = 512, .55 = 1K, .66 = 2K, .77 = 4K, .88 = 8K, 1 = 16K -->
	
	<!-- gain: .5 = 0, .416 =  1, .33 =  2, .25 =  3, .16 =  4, .076 =  5, 0 =  6 -->
	
	<!-- gain: .5 = 0, .584 = -1, .67 = -2, .75 = -3, .84 = -4, .924 = -5, 1 = -6 -->
	
    <key>1</key>
	<dict>
		<key>0</key>
        <dict>
			<key>presetId</key>
			<integer>0</integer>
            <key>name</key>
            <string>Bass Boost</string>
            <key>isDefault</key>
            <true/>
            <key>values</key>
            <array>
				<string>{0.00, 0.1749}</string>
				<string>{0.11, 0.25}</string>
				<string>{0.22, 0.325}</string>
				<string>{0.33, 0.4}</string>
            </array>
        </dict>
		
		<key>1</key>
        <dict>
			<key>presetId</key>
			<integer>1</integer>
            <key>name</key>
            <string>Treble Boost</string>
            <key>isDefault</key>
            <true/>
            <key>values</key>
            <array>
				<string>{0.66, 0.4}</string>
				<string>{0.77, 0.325}</string>
				<string>{0.88, 0.25}</string>
				<string>{1.00, 0.1749}</string>
            </array>
        </dict>
		
		<key>2</key>
        <dict>
			<key>presetId</key>
			<integer>2</integer>
            <key>name</key>
            <string>Small Speaker</string>
            <key>isDefault</key>
            <true/>
            <key>values</key>
            <array>
				<string>{0.00, 0.06}</string>
				<string>{0.11, 0.1416}</string>
				<string>{0.22, 0.2}</string>
				<string>{0.33, 0.325}</string>
				<string>{0.44, 0.375}</string>
				<string>{0.66, 0.6}</string>
				<string>{0.77, 0.69}</string>
				<string>{0.88, 0.8}</string>
				<string>{1.00, 0.9083}</string>
            </array>
        </dict>
		
		<key>3</key>
        <dict>
			<key>presetId</key>
			<integer>3</integer>
            <key>name</key>
            <string>Electronic</string>
            <key>isDefault</key>
            <true/>
            <key>values</key>
            <array>
				<string>{0.00, 0.225}</string>
				<string>{0.11, 0.283}</string>
				<string>{0.22, 0.4749}</string>
				<string>{0.33, 0.5749}</string>
				<string>{0.55, 0.75}</string>
				<string>{0.66, 0.40}</string>
				<string>{0.88, 0.225}</string>
				<string>{1.00, 0.1916}</string>
            </array>
        </dict>
		
		<key>4</key>
        <dict>
			<key>presetId</key>
			<integer>4</integer>
            <key>name</key>
            <string>Hip Hop</string>
            <key>isDefault</key>
            <true/>
            <key>values</key>
            <array>
				<string>{0.00, 0.1749}</string>
				<string>{0.11, 0.25}</string>
				<string>{0.22, 0.4749}</string>
				<string>{0.33, 0.349}</string>
				<string>{0.44, 0.69}</string>
				<string>{0.55, 0.69}</string>
				<string>{0.66, 0.4749}</string>
				<string>{0.77, 0.649}</string>
				<string>{0.88, 0.449}</string>
				<string>{1.00, 0.349}</string>
            </array>
        </dict>
		
		<key>5</key>
        <dict>
			<key>presetId</key>
			<integer>5</integer>
            <key>name</key>
            <string>Rock</string>
            <key>isDefault</key>
            <true/>
            <key>values</key>
            <array>
				<string>{0.00, 0.25}</string>
				<string>{0.11, 0.325}</string>
				<string>{0.22, 0.4}</string>
				<string>{0.33, 0.5249}</string>
				<string>{0.44, 0.75}</string>
				<string>{0.55, 0.7916}</string>
				<string>{0.66, 0.649}</string>
				<string>{0.88, 0.349}</string>
				<string>{1.00, 0.275}</string>
            </array>
        </dict>
		
		<key>6</key>
        <dict>
			<key>presetId</key>
			<integer>6</integer>
            <key>name</key>
            <string>Pop</string>
            <key>isDefault</key>
            <true/>
            <key>values</key>
            <array>
				<string>{0.00, 0.625}</string>
				<string>{0.11, 0.6}</string>
				<string>{0.33, 0.325}</string>
				<string>{0.44, 0.1749}</string>
				<string>{0.55, 0.1749}</string>
				<string>{0.66, 0.29}</string>
				<string>{0.88, 0.625}</string>
				<string>{1.00, 0.675}</string>
            </array>
        </dict>
		
    </dict>
</dict>
</plist>