github "bitstadium/HockeySDK-iOS"
github "jdg/MBProgressHUD"
github "SnapKit/SnapKit"
github "einsteinx2/Nuke" "master"
github "aschuch/AwesomeCache"
github "ashleymills/Reachability.swift" "master"
github "schickling/Device.swift"
