github "bitstadium/HockeySDK-iOS"
github "SnapKit/SnapKit" ~> 4.0.0
github "einsteinx2/Nuke" "master"
github "aschuch/AwesomeCache"
github "ashleymills/Reachability.swift" "master"
github "schickling/Device.swift"
github "DaveWoodCom/XCGLogger" ~> 5.0.1
github "joshualat/Pluralize.swift" "master"
github "glock45/swifter" "stable"
github "CocoaLumberjack/CocoaLumberjack"
github "IBM-Swift/swift-html-entities"
