<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iSub Beta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53159B00156F697F001B0268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53159D39156F69D0001B0268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53159F8E156F6FA0001B0268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5315A1CB156F7064001B0268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5315A408156F70A9001B0268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53BC269F139AF0DD00A825F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53DCF3FC13BFEAD3009160F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
